{% extends "cuentas/index.html" %}

{% block title %}
    Barberos
{% endblock %}

{% block cuentas_container %}
<h2>Barberos</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                RUT
            </th>
            <th>
                Email 
            </th>
            <th>
                Telefono
            </th>
            <th>
                Servicio
            </th>
        </tr>
    </thead>
    <tbody>
        {% for barbero in object_list %}
        <tr>
            <td>
                <a href=""># {{ barbero.pk }}</a>
            </td>
            <td>
                {{ barbero.nombre }}
            </td>
            <td>
                {{ barbero.rut }}
            </td>
            <td>
                {{ barbero.email }}
            </td>
            <td>
                {{ barbero.servicio }}
            </td>
            <td>
                {{ barbero.telefono }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}