{% extends "cuentas/index.html" %}

{% block title %}
   Horarios
{% endblock %}

{% block cuentas_container %}
<h2>Horarios</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Desde
            </th>
            <th>
                Hasta
            </th>
        </tr>
    </thead>
    <tbody>
        {% for horario in object_list %}
        <tr>
            <td>
                <a href=""># {{ horario.pk }}</a>
            </td>
            <td>
                {{ horario.desde }}
            </td>
            <td>
                {{ horario.hasta }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}