{% extends "cuentas/index.html" %}

{% block title %}
   Servicios
{% endblock %}

{% block cuentas_container %}
<h2>Servicios</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Precio
            </th>
        </tr>
    </thead>
    <tbody>
        {% for servicio in object_list %}
        <tr>
            <td>
                <a href=""># {{ servicio.pk }}</a>
            </td>
            <td>
                {{ servicio.nombre }}
            </td>
            <td>
                {{ servicio.precio }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}