{% extends "cuentas/index.html" %}

{% block title %}
   Usuarios
{% endblock %}

{% block cuentas_container %}
<h2>Usuarios</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                RUT
            </th>
            <th>
                Sexo
            </th>
            <th>
                Telefono
            </th>
            <th>
                Email
            </th>
            <th>
                Usuario
            </th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in object_list %}
        <tr>
            <td>
                <a href=""># {{ usuario.pk }}</a>
            </td>
            <td>
                {{ usuario.first_name }}
            </td>
            <td>
                {{ usuario.last_name }}
            </td>
            <td>
                {{ usuario.rut }}
            </td>
            <td>
                {{ usuario.sexo }}
            </td>
            <td>
                {{ usuario.telefono }}
            </td>
            <td>
                {{ usuario.email }}
            </td>
            <td>
                {{ usuario.username }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}