{% extends "cuentas/index.html" %}

{% block title %}
    Reservaciones
{% endblock %}

{% block cuentas_container %}
<h2>Reservaciones</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Barbero
            </th>
            <th>
                Dia
            </th>
            <th>
                Horario
            </th>
            <th>
                Usuario
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        {% for reserva in object_list %}
        <tr>
            <td>
                <a href=""># {{ reserva.pk }}</a>
            </td>
            <td>
                {{ reserva.barbero }}
            </td>
            <td>
                {{ reserva.dia|date:"d/m/Y" }}
            </td>
            <td>
                {{ reserva.horario }}
            </td>
            <td>
                {{ reserva.usuario }}
            </td>
            <td>
                <a href="{% url 'reservas:reservas_update' reserva.id %}" class="text-primary" style="padding-left: 10px; text-decoration: none;">Editar
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'reservas:reservas_delete' reserva.id %}" class="mr-1 text-danger" style="padding-left: 10px; text-decoration: none;">Eliminar
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}